@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  font: 12px/18px "Quicksand", arial, sans-serif;
  background-color: #282841;
  height: 100%;
}

.container {
  width: 300px;
  margin: 30px auto;
  background-color: white;
  padding: 16px;
  border-radius: 20px;
  overflow: hidden;
}

.title {
  font-family: sans-serif;
  color: #44457a;
  padding: 30px;
  text-align: center;
}

.field-group {
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 3px;
}

.field-group input {
  width: 100%;
  padding: 10px 0 10px 10px;
  border: 1px solid #ccc;
  display: inline-block;
  box-sizing: border-box;
  font-size: 14px;
  background: transparent;
}

.button {
  width: 100%;
  background-color: #44457a;
  margin: 10px 0 10px 0;
  border-radius: 3px;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

h3 {
  text-align: center;
}

.login {
  width: 100%;
  margin: 10px 0 10px 0;
  border-radius: 3px;
  border: none;
  padding: 10px 0 10px 0;
  font-weight: bold;
  color: white;
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
}

.red {
  background-color: #ea4335;
}

.blue {
  background-color: #3b5998;
}

.fab {
  flex: 1;
  text-align: center;
  font-size: 16px;
  margin: auto;
}

.fg {
  flex: 4;
  text-align: left;
  font-size: 14px;
}

.account {
  text-align: center;
  text-decoration: none;
}

.left {
  text-align: right;
}

@media screen and (max-width: 620px) {
  .navbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background: #1c1b29;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .navbar a {
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }

  .navbar a img {
    font-size: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    margin: auto;
  }

  .navbar a p {
    margin: auto;
    color: white;
  }

  .topbar {
    padding: 25px 10px 25px 10px;
    position: sticky;
    top: 0;
    font-size: 12px;
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.01);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: 0.5s;
    z-index: 9999;
  }

  .right {
    float: right;
    font-size: 16px;
    margin: -20px auto;
  }

  .content {
    width: 90%;
    box-sizing: border-box;
    height: 100%;
    color: white;
    background-color: #1c1b29;
    margin: auto;
    border-radius: 25px;
  }

  .tab {
    width: 100%;
    display: flex;
  }

  .tablinks {
    flex: 3;
    background-color: #1c1b29;
    box-sizing: border-box;
    color: white;
    padding: 10px;
    font-size: 12px;
    border-bottom: 2px solid #282841;
  }

  .tablinks:nth-child(1) {
    border-top-left-radius: 25px;
  }

  .tablinks:nth-child(3) {
    border-top-right-radius: 25px;
  }

  .tab button.active {
    background-color: #868aff;
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
}

@media screen and (max-width: 350px) {
  .container {
    width: 80%;
  }
}
